html{
    background-color: rgb(26, 26, 26);
    color: rgb(255, 0, 128);
    user-select: none;
    padding-left: 9px;
    text-align: center;
}

.h{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
}
input{
    border: rgb(255, 0, 128) solid;
    border-width: 1px;
    border-radius: 4px;
    background-color: rgba(247, 0, 95, 0.432);
    color: white;
}
.btn{
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 0, 128);
    border: rgb(255, 0, 128) solid;
    border-width: 1px;
    border-radius: 3.7px;
    user-select: none;
}
.btn:hover{
    background-color: rgba(255, 0, 170, 0.205);
}
.btn:active{
    background-color: rgb(255, 0, 128);
    color: black;
    border-color: rgba(255, 255, 255, 0.459);
}
@media (max-width: 767px) {
    /* CSS rules specific to mobile phones */
    .h {
      font-size: 18px;
    }
    .inpt {
      width: 80%;
      padding-bottom: 10px;
    }
    .btn {
      display: block;
      margin-bottom: 10px;
      padding-right: 10px;
    }
    .copy {
      font-size: 14px;
    }
  }